beautifulsoup4==4.13.4
bitarray==3.8.0
bs4==0.0.2
certifi==2025.6.15
cftime==1.6.5
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.2
dask==2026.3.0
fsspec==2026.4.0
git-filter-repo==2.47.0
idna==3.10
iniconfig==2.3.0
Jinja2==3.1.6
linkify-it-py==2.1.0
locket==1.0.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdit-py-plugins==0.5.0
mdurl==0.1.2
memory-profiler==0.61.0
mypy_extensions==1.1.0
netCDF4==1.7.4
networkx==3.6.1
numpy==2.3.0
packaging==25.0
pandas==3.0.1
partd==1.4.2
pathspec==0.12.1
pip-licenses==5.5.5
platformdirs==4.3.8
pluggy==1.6.0
portalocker==3.2.0
prettytable==3.17.0
psutil==7.2.2
pydot==4.0.1
Pygments==2.19.2
Pympler==1.1
pyparsing==3.3.2
pypocketmap==0.0.1rc1
pyroaring==1.0.4
pysat==3.2.2
pytest==9.0.3
python-dateutil==2.9.0.post0
python-sat==1.9.dev4
PyYAML==6.0.3
rapids-logger==0.2.3
requests==2.32.4
rich==14.3.3
ruff==0.11.13
scipy==1.17.1
six==1.17.0
soupsieve==2.7
textual==8.1.1
toolz==1.1.0
tqdm==4.67.1
tralda==2.0.1
typing_extensions==4.14.0
uc-micro-py==2.0.0
urllib3==2.4.0
wcwidth==0.6.0
xarray==2026.4.0
